name: Build/release app

on:
  push:
    tags:
      - v*.*.*

jobs:
  release:
    runs-on: windows-latest

    strategy:
      matrix:
        buildType: ['portable', 'non-portable']

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install Dependencies
        run: npm install

      - name: build-win-portable
        if: matrix.buildType == 'portable'
        run: npm run build:win:portable

      - name: build-win
        if: matrix.buildType == 'non-portable'
        run: npm run build:win

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            dist/*.exe
            dist/*.zip
            dist/*.dmg
            dist/*.AppImage
            dist/*.snap
            dist/*.deb
            dist/*.rpm
            dist/*.tar.gz
            dist/*.yml
            dist/*.blockmap
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
